/FaceWarperServer/*.suo
/FaceWarperServer/*.user
/FaceWarperServer/*.sdf
/FaceWarperServer/Release
/FaceWarperServer/Debug
/FaceWarperServer/ObjParser/Debug
/FaceWarperServer/ObjParser/lib
/FaceWarperServer/ObjParser/Release
/FaceWarperServer/ObjParser/*.user
/FaceWarperServer/glew
/FaceWarperServer/glut
/FaceWarperServer/textures
/FaceWarperServer/Modeles/buddha.obj
/FaceWarperServer/*.opendb
/FaceWarperServer/.vs
/FaceWarperServer/glm
/FaceWarperServer/freeglut
/FaceWarperServer/glew_old
/FaceWarperServer/old_test
/FaceWarperServer/old_files
/FaceWarperServer/results
/FaceWarperServer/libpng/*.lib
/FaceWarperServer/libpng/*.pdb
/FaceWarperServer/FaceWarper.VC.db
/FaceWarperServer/build
/FaceWarperServer/lib_src
/FaceWarperServer/lib
/FaceWarperServer/windows_build/.vs
/FaceWarperServer/windows_build/Release
/FaceWarperServer/windows_build/Debug
/FaceWarperServer/windows_build/extern
/FaceWarperServer/windows_build/*.db
/FaceWarperServer/windows_build/*.sdf
__pycache__
